@model ReservationRestaurantAdmin.Models.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    <h3 >Details of Booking ID: @Model.Id</h3>
<div class="card-body">
    <div class="table-responsive">
        <table class="product-info-table m-t-20">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td class="text-dark font-weight-semibold">@Model.Id</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td class="text-dark font-weight-semibold">@Model.IdNavigation.Phone</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td class="text-dark font-weight-semibold">@Model.IdNavigation.Name</td>
                </tr>
                <tr>
                    <td>Date</td>
                    <td class="text-dark font-weight-semibold">@Model.Date.Value.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td>Start Time</td>
                    <td class="text-dark font-weight-semibold">@Model.StartTime.Value.ToString("hh:mm:ss tt")</td>
                </tr>
                <tr>
                    <td>End Time</td>
                    <td class="text-dark font-weight-semibold">@Model.EndTime.Value.ToString("hh:mm:ss tt")</td>
                </tr>
                <tr>
                    <td>Number Guest</td>
                    <td class="text-dark font-weight-semibold">@Model.NumGuest</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td class="text-dark font-weight-semibold">@Model.Description</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td class="text-dark font-weight-semibold">@Model.Price</td>
                </tr>
                <tr>
                    <td>Discount</td>
                    <td class="text-dark font-weight-semibold">@Model.Discount</td>
                </tr>


                @if (string.IsNullOrEmpty(Model.PhoneGuest))
                {
                    <tr>
                        <td>PhoneGuest</td>
                        <td class="text-dark font-weight-semibold">@Model.IdNavigation.Phone</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>PhoneGuest</td>
                        <td class="text-dark font-weight-semibold">@Model.PhoneGuest</td>
                    </tr>
                }
                @if (string.IsNullOrEmpty(Model.Feedback))
                {

                    <tr>
                        <td>Feedback</td>
                        <td class="text-dark font-weight-semibold"> Chưa có feedback </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Feedback</td>
                        <td class="text-dark font-weight-semibold">@Model.Feedback </td>
                    </tr>
                }



                @if (Model.Status.Equals(true))
                {
                    <tr>
                        <td>Status</td>
                        <td style="color:green" class="text-dark font-weight-semibold">Approved</td>

                    </tr>
                }
                else
                {
                    <tr>
                        <td>Status</td>
                        <td style="color:red" class="text-dark font-weight-semibold">Pending</td>
                    </tr>
                }


            </tbody>
        </table>

    </div>
   
        <div>
        <a class="btn btn-sm btn-primary m-r-5" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    
</div>

